/* Tags, IDs e Classes */

/* Tag */
h1 {
    color: blue;

}

/* p {
    color: orange;
    

} */

/* IDs */

/* #primeiro-paragrafo,
#segundo-paragrafo {
    color: green;
} */

/* Classes */
.paragrafo-bloco1 {
    font-size: 24px;
}

.paragrafo-bloco2 {
    font-size: 24px;
    color: red;
}

p span {
    background-color: orange;
    color: white;
    font-style: italic;
    font-weight: bold;
}